.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Press Start 2P', Helvetica, cursive;
  font-size: 2vw;
  max-width: 90vw;
}

.sam {

}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 15vw auto 15vw;
  align-items: center;
  background-color: #282c34;
}

.grid-item {
  max-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: magenta;
}

.house {
  height: 50vh;
  display: grid;
  align-items: center;
}

.housegrid {
  height: 600px;
  width: 800px;
  display: grid;
  align-items: center;
  background-image: url("https://cdn.dribbble.com/users/1912068/screenshots/3839435/homevalue-dribbble.png");
  background-repeat: no-repeat;
  background-position: center;
}

.houseitem1 {
  background-color: rgba(230,230,230,0.5);
}
